{% extends "base.html" %}
{% load static %}

{% block title %}Forget Password{% endblock title %}


{% block body %}


{% include "navbar2.html" %}

<div class="container mb-1">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Login -->
            <h3 class="mb-6 pt-2">Enter the registered email id</h3>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-white" role="alert">
              <span class="text-sm">{{ message }}</span>
              <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            <!-- Form Login -->
            <form class="mb-5" action="{% url 'forget_password' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <!-- Email -->
                <div class="form-group mb-5">
                    
                    <input type="email"  name="email" class="form-control" name='otp' id="modalSigninEmail1" placeholder="example@gmail.com" required >
                </div>
   
                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    Send Verification code
                </button>
            </form>
        </div>
    </div>
   </div>

{% endblock body %}