{% load static %}
    <!-- NAVBAR
    ================================================== -->

    <div class="bg-ebony position-relative z-index-2">
    <a href="{% url 'job-request' %}">
        <div class="container banner-container">
           
            <ul class="nav mx-n3 line-height-one font-montserrat pt-2 pb-2">
                <li class="nav-item">
                    <span class="font-size-sm text-white">{{banner.title}}</span>
                </li>
            </ul>
        </div>
    </a>
    </div>

    <header class="navbar navbar-expand-xl navbar-dark z-index-1" >
        <div class="container">
    
            <!-- Brand -->
            <a class="navbar-brand me-0 filter-none" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" class="navbar-brand-img" alt="...">
            </a>
    
            <!-- Collapse -->
            <div class="collapse navbar-collapse z-index-lg" id="navbarCollapse">
    
                <!-- Toggler -->
                <button class="navbar-toggler outline-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- Icon -->
                    <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z" fill="currentColor"></path>
                        <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z" fill="currentColor"></path>
                    </svg>
    
                </button>
    
                <!-- Navigation -->
                <ul class="navbar-nav ms-auto">
                    
    
    
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'index' %}" >
                            Home
                        </a>
    
                    </li>
    
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'about' %}" >
                            About Us
                        </a>
    
                    </li>
    
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'contact' %}" >
                            Contact Us
                        </a>
    
                    </li>
    
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'faq' %}" >
                            Faq
                        </a>
    
                    </li>
    
                    
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'jobs' %}" >
                            Jobs
                        </a>
    
                    </li>
    
                    {% if request.user.is_staff %}
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'dashboard' %}" >
                            Owner Dashboard
                        </a>
                    </li>
                    {% elif request.user.is_authenticated %}
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'user-dashboard' %}" >
                            Dashboard
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'dologin' %}" >
                            Login / Register
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link px-xl-4 text-uppercase"  href="{% url 'logout' %}" >
                            Logout
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
    
            <!-- Toggler -->
            <button class="navbar-toggler ms-4 ms-md-5 shadow-none bg-teal text-white icon-xs p-0 outline-0 h-40p w-40p d-flex d-xl-none place-flex-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Icon -->
                <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="1" fill="currentColor"/>
                    <rect y="8" width="15" height="1" fill="currentColor"/>
                    <rect y="16" width="20" height="1" fill="currentColor"/>
                </svg>
    
            </button>
        </div>
    </header>
    