{% extends "base.html" %}
{% load static %}
{% block title %}Project Registration{% endblock title %}
{% block body %}
{% include "navbar2.html" %}

<!-- PAGE TITLE
    ================================================== -->
<header class="py-8 py-md-5" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Project Registration</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Project Registration
                </li>
            </ol>
        </nav>
    </div>

</header>


<!-- Project Registration
    ================================================== -->
<div class="container mb-5">
    <div class="row gx-0">

        <div class="col-md-5 col-xl-8 mx-auto">
            <!-- Login -->
            <h3 class="mb-6">Project Details</h3>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-black" role="alert">
                <span class="text-sm">{{ message }}</span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            {% endfor %}

            <form class="mb-5" action="{% url 'project-registration' %}" method="post">
                {% csrf_token %}

                <div class="form-group mb-5">
                    <label>
                        Project Title
                    </label>
                    <input type="text" required name="title" class="form-control" id="modalSigninEmail1">
                </div>

                <div class="form-group mb-5">
                    <label>
                        Technology
                    </label>
                    <input type="text" required name="technology" class="form-control" id="modalSigninEmail1">
                </div>

                <div class="form-group mb-5">
                    <label>
                        Description
                    </label>
                    <textarea name="projectDescription" required class="form-control" id="" cols="30" rows="10"></textarea>
                </div>


                <div class="form-group mb-5">
                    <label>Project Type</label>
                    <select class="form-control toggler" id="projectType" name="projectType" required>
                        <option value=""></option>
                        {% for type in project_types %}
                            <option value="{{ type.name }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>


                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    Submit
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock body %}